* {
    margin: 0;
}

body {
    background: linear-gradient(135deg, rgb(134, 162, 209), #2a5298);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.tip-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
    padding: 50px;
    /* margin-top: 15vh; */
}

.tip-form .input-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.tip-form .input-div input {
    border: none;
    border-radius: 2px;
    /* padding: 5px 20px; */
    height: 30px;
    width: 100%;
    text-align: left;
    outline: none;
}

.tip-form .input-div button {
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.tip-form .input-div button:hover {
    background-color: rgb(22, 212, 22);
    color: white;
}

.tip-form .input-div .input-label {
    color: rgb(255, 255, 6);
    font-weight: 600;
    font-size: 18px;
}